@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root {
 --cor-fundo: #222831;
 --cor-forte: #00ADB5;
 --cor-letra: #EEEEEE;
 --cor-mouse: #393E46;

 --fonte-titulo: 'Krona One', sans-serif;
 --fonte-texto: 'Montserrat', sans-serif; 
}
* {
   margin: 0;
   padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}


.cabecalho__menu__link {
font-family: var(--fonte-texto);
font-size: 1.5rem;
font-weight: 600;
color: var(--cor-forte);
text-decoration: none;
}

.apresent {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.apresent__cont {
width: 50%;
display: flex;
flex-direction: column;
gap: 10px;
}

.apresent__cont__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}

.destaque-azul {
    color: var(--cor-forte);
}

.apresent__cont__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
}

.apresent__links {
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   align-items: center;
   gap: 32px;
}

.apresent__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresent__links__navega {
    border: 2px solid var(--cor-forte);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-letra);
    font-family: var(--fonte-texto);
}

.apresent__links__links:hover {
    background-color: var(--cor-mouse);
}

.apresent__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-fundo);
    background-color: var(--cor-forte);
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresent {
        flex-direction: column-reverse;
        padding: 5%
     }

     .apresent__cont {
        width: auto;
     }
}